$green_button_normal: #2c9f4b;
$green_button_hover: #237e3b;
$green_button_pressed: #1b612e;

$darkblue_button_normal: #204ca1;
$darkblue_button_hover: #1b3c80;
$darkblue_button_pressed: #142e63;

$lightblue_button_normal: #1e90ff;
$lightblue_button_hover: #1980de;
$lightblue_button_pressed: #1470bd;

$dark_1: #34383c;
$dark_2: #212426;
$dark_3: #17181b;

$hover_1: #525252;
$hover_2: #303030;
$hover_3: #1f2127;

$font_color_1: #dcddde;
$font_color_2: #b9bbbe;

$box_shadow_1: #000 0px 1px 3px;

$border_radius_1: 4px;

$circle: 100500px;

$red_color_1: #a72a39;

@mixin hover($color) {
  transition: background-color 0.2 ease-out;

  &:hover {
    transition: background-color 0.2 ease-out;
    background-color: $color;
  }
}

%hover_1 {
  @include hover($hover_1);
}
.hover_1 {
  @extend %hover_1;
}

%hover_2 {
  @include hover($hover_2);
}
.hover_2 {
  @extend %hover_2;
}

@mixin button($normal_background, $hover_background, $press_background) {
  background-color: $normal_background;
  transition: background-color 0.2 ease-out;

  user-select: none;
  cursor: pointer;

  &:hover {
    transition: background-color 0.2 ease-out;
    background-color: $hover_background;
  }

  &:active {
    transition: background-color 0.2 ease-out;
    background-color: $press_background;
  }
}
