$green_button_normal: #2c9f4b;
$green_button_hover: #237e3b;
$green_button_pressed: #1b612e;

$darkblue_button_normal: #204ca1;
$darkblue_button_hover: #1b3c80;
$darkblue_button_pressed: #142e63;

$lightblue_button_normal: #1e90ff;
$lightblue_button_hover: #1980de;
$lightblue_button_pressed: #1470bd;

$dark_1: #34383c;
$dark_2: #212426;
$dark_3: #17181b;

$hover_1: #525252;
$hover_2: #303030;
$hover_3: #1f2127;

$font_color_1: #dcddde;
$font_color_2: #b9bbbe;

$box_shadow_1: #000 0px 1px 3px;

$border_radius_1: 4px;

$circle: 100500px;

$red_color_1: #a72a39;

@mixin hover($color) {
  transition: background-color 0.2 ease-out;

  &:hover {
    transition: background-color 0.2 ease-out;
    background-color: $color;
  }
}

%hover_1 {
  @include hover($hover_1);
}
.hover_1 {
  @extend %hover_1;
}

%hover_2 {
  @include hover($hover_2);
}
.hover_2 {
  @extend %hover_2;
}

@mixin button($normal_background, $hover_background, $press_background) {
  background-color: $normal_background;
  transition: background-color 0.2 ease-out;

  user-select: none;
  cursor: pointer;

  &:hover {
    transition: background-color 0.2 ease-out;
    background-color: $hover_background;
  }

  &:active {
    transition: background-color 0.2 ease-out;
    background-color: $press_background;
  }
}

@mixin dropdownArrow(
  $sideSize: 8px,
  $width: 2px,
  $color: #ddd,
  $animationSpeed: 200ms
) {
  display: inline-block;
  content: "";
  height: $sideSize;
  width: $sideSize;

  border-left: $width solid $color;
  border-bottom: $width solid $color;

  transition: transform $animationSpeed cubic-bezier(0.79, 0.14, 0.15, 0.86);

  margin: 0 10px;

  &.dropdown_arrow_shown {
    transform: rotate(-225deg);

    &.arrow_animate_left {
      transform: rotate(135deg);
    }

    &.arrow_animate_right {
      transform: rotate(-225deg);
    }
  }

  &.dropdown_arrow_hidden {
    transform: rotate(-45deg);
  }
}

@mixin dottedLoader(
  $colorOfDots: $font_color_1,
  $widthOfDots: 5px,
  $animationDuration: 15s,
  $animationFunction: cubic-bezier(0.32, 0.91, 0.64, 0.03)
) {
  .dotted-loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    .dotted-loader {
      display: inline-block;
      width: 70%;
      height: 70%;
      position: relative;

      display: flex;

      border-radius: $circle;

      transform: rotate(225deg);

      div {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        display: flex;

        width: 100%;
        height: 100%;
        border-radius: $circle;

        opacity: 0.5;

        animation: dottedLoaderAnimation $animationDuration $animationFunction
          infinite;

        &::after {
          content: "";
          display: block;
          width: $widthOfDots;
          height: $widthOfDots;
          border-radius: $circle;
          background: $colorOfDots;
        }
      }
      div:nth-child(1) {
        animation-delay: -0.05s;
      }
      div:nth-child(2) {
        animation-delay: -0.1s;
      }
      div:nth-child(3) {
        animation-delay: -0.15s;
      }
      div:nth-child(4) {
        animation-delay: -0.2s;
      }
      div:nth-child(5) {
        animation-delay: -0.25s;
      }
      div:nth-child(6) {
        animation-delay: -0.3s;
      }
      div:nth-child(7) {
        animation-delay: -0.35s;
      }
      div:nth-child(8) {
        animation-delay: -0.4s;
      }
      div:nth-child(9) {
        animation-delay: -0.45s;
      }
    }
  }
}

@keyframes dualRingLoader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.dual-ring-loader {
  display: inline-block;
  width: 80px;
  height: 80px;
  &::after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: dualRingLoader 1.2s linear infinite;
  }
}
