@import url("https://fonts.googleapis.com/css2?family=Roboto");

@import "nullstyle";
@import "library";

@import "menu";
@import "footer";
@import "dashboard";
@import "guild";
@import "root";
@import "auth";
@import "discord_setup";
@import "error";

* {
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(66, 64, 64, 0.75);
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  /* толщина */
  font-family: Roboto, "Lucida Grande", Helvetica, Arial, sans-serif !important;
}

body {
  background-color: #34383c;
  color: white;
  font-size: 14px;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

.link {
  color: #00aff4;

  &:hover {
    text-decoration: underline;
  }
}

.hidden {
  visibility: hidden;
}

.display_none,
.disp_none {
  display: none !important;
}

footer {
  display: block;
  width: 100%;
}

main {
  flex: 1 0 auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: flex-start;

  margin-top: 75px;
  position: relative;

  width: 100%;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 8px;
  /* ширина для вертикального скролла */
  background-color: rgba(66, 64, 64, 0.75);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.75);
  }
}

/* Стрелки */

::-webkit-scrollbar-button {
  &:vertical:start:decrement,
  &:vertical:end:increment,
  &:horizontal:start:decrement,
  &:horizontal:end:increment {
    display: none;
  }
}

.scrollbar_y,
.scrollbar_x {
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(66, 64, 64, 0.75);
  /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
  /* толщина */
}

.languages li span,
._ft_language span {
  margin-right: 5px;
}

.window-load.hidden {
  display: none;
}

#window-load {
  background: rgba($color: #000, $alpha: 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}

.unactive {
  cursor: default !important;
  //pointer-events: none !important;
  opacity: 0.5 !important;
  background: black !important;
}

.green_button {
  background-color: $green_button_normal;
  transition: $trans_03;

  &:hover {
    transition: $trans_03;
    background-color: #237e3b;
  }

  &:active {
    transition: $trans_03;
    background-color: #1b612e;
  }
}

.darkblue_button {
  background-color: $darkblue_button_normal;
  transition: $trans_03;

  &:hover {
    transition: $trans_03;
    background-color: $darkblue_button_hover;
  }

  &:active {
    transition: $trans_03;
    background-color: $darkblue_button_pressed;
  }
}

.setup_button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 5px;

  padding: 0px 10px;

  font-size: 18px;

  cursor: pointer;

  * {
    cursor: pointer;
  }
}

.dropdown_arrow {
  margin: 5px 10px 7px 5px;

  &.dropdown_hidden {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  &.dropdown_shown {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
}

.dropdown_elem {
  position: relative;

  .dropdown_title {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    * {
      cursor: pointer;
      user-select: none;
    }

    .title {
      color: $font_color_1;
    }

    .dropdown_arrow {
      margin: 5px 10px 7px 5px;

      &.dropdown_hidden {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
      }

      &.dropdown_shown {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
      }
    }
  }

  .dropdown_list {
    position: absolute;
    z-index: 99;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;

    max-height: 200px;

    &.down {
      top: 110%;
      right: 0;
    }

    &.up {
      bottom: 110%;
    }

    &.dropdown_hidden {
      visibility: hidden;
    }

    span {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

i.checkbox {
  display: flex;

  &.dark_2 {
    border: 3px solid $dark_2;
  }

  border-radius: 2px;

  position: relative;

  &.checked {
    &::after {
      content: "";
      position: absolute;
      top: 1.5px;
      left: 1.5px;
      width: 13px;
      height: 8px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      transform: rotate(-45deg);
    }
  }
}

/* Loaders */
/* BIG-LOADER(50px) */
.big-loader {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  position: relative;
  -webkit-animation: big-loader 0.9s 0.35s ease alternate infinite;
  animation: big-loader 0.9s 0.35s ease alternate infinite;
  margin: -20px auto 0;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation: big-loader 0.9s ease alternate infinite;
    -webkit-animation: big-loader 0.9s ease alternate infinite;
  }

  &:before {
    left: -60px;
    animation-delay: 0.2s;
  }

  &:after {
    right: -60px;
    animation-delay: 0.5s;
  }

  @keyframes big-loader {
    0% {
      box-shadow: 0 55px 0 -55px black;
    }

    100% {
      box-shadow: 0 55px black;
    }
  }

  @-webkit-keyframes big-loader {
    0% {
      box-shadow: 0 55px 0 -55px black;
    }

    100% {
      box-shadow: 0 55px black;
    }
  }
}

/* Little loader (10px) */
.little-loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  -webkit-animation: little-loader 0.9s 0.35s ease alternate infinite;
  animation: little-loader 0.9s 0.35s ease alternate infinite;
  margin: -20px auto 0;

  &:before,
  &:after {
    content: "" !important;
    position: absolute !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    animation: little-loader 0.9s ease alternate infinite !important;
    -webkit-animation: little-loader 0.9s ease alternate infinite !important;
  }

  &:after {
    left: -20px !important;
    animation-delay: 0.2s !important;
  }

  &:before {
    right: -20px !important;
    animation-delay: 0.5s !important;
  }

  @keyframes little-loader {
    0% {
      box-shadow: 0 15px 0 -15px #ffffff;
    }

    100% {
      box-shadow: 0 15px 0 #ffffff;
    }
  }

  @-webkit-keyframes little-loader {
    0% {
      box-shadow: 0 15px 0 -15px #ffffff;
    }

    100% {
      box-shadow: 0 15px 0 #ffffff;
    }
  }
}

.separator_1 {
  width: 100%;
  height: 0;
  border-top: thin solid rgba(255, 255, 255, 0.85);
  align-self: center;
}
