@use "library";

#dashboard {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;

    .setupMessengers {
        display: flex;
        flex-direction: row;
        justify-content: center;

        margin-top: 10px;

        width: 100%;

        .setupMessenger {
            display: flex;
            flex-direction: column;

            justify-content: space-between;
            align-items: center;

            min-height: 290px;
            width: 315px;
            margin-right: 25px;
            border-radius: 10px;
            padding: 8px;

            background-color: #212426;

            .msgDesc {
                display: flex;
                flex-direction: column;

                align-items: center;

                & > * {
                    margin-bottom: 5px;
                }

                .mainText {
                    font-size: 24px;
                    color: #fff;
                }

                .msgLogo {
                }

                .desc {
                    font-size: 20px;
                    color: #c8c8c8;
                    text-align: center;
                }
            }

            .setup_button {
                align-self: center;
                margin-bottom: 10px;
                margin-top: 20px;

                min-width: 100px;
                min-height: 35px;
            }
        }
    }
}

.questionnaire_blur {
    width: 100%;
    height: 100%;
    z-index: 50;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .questionnaire_wrapper {
        width: 490px; // 480px - wrapper + 10 - scrollbar
        max-height: 100%;
        overflow: scroll;
        scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);
        scrollbar-width: thin;
        //position: fixed;
        z-index: 51;

        .questionnaire {
            display: flex;
            flex-direction: column;
            background: #2a2c31;
            padding: 32px;
            width: 480px;
            border-radius: 5px;

            .questionnaire-title {
                font-weight: 600;
                font-size: 24px;
                line-height: 30px;
                text-align: center;
                color: #dcddde;
                margin-bottom: 10px;
            }

            .questionnaire-form {
                display: flex;
                width: 100%;

                display: flex;
                flex-direction: column;
                width: 100%;

                &.hidden {
                    display: none !important;
                }

                .question_step {
                    display: flex;
                    flex-direction: row;
                    align-self: center;
                    .qstep-active,
                    .qstep-nonactive {
                        display: block;
                        height: 15px;
                        width: 15px;
                        border-radius: 100px;
                        margin-right: 4px;

                        background-color: rgb(34, 34, 34);
                    }
                    .qstep-active {
                        background-color: rgb(143, 143, 143);
                    }
                }

                .form-body-wrapper {
                    margin-top: 5px;
                    display: flex;
                    flex-direction: column;

                    .form-input {
                        margin-top: 20px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        .form-name {
                            color: #dddddd;
                            font-size: 18px;
                        }
                        .form-desc {
                            margin-top: 5px;
                            color: #b9bbbe;
                        }
                        .input-wrapper {
                            background: rgba(0, 0, 0, 0.1);
                            border: 1px solid rgba(0, 0, 0, 0.3);
                            border-radius: 5px;
                            width: 100%;
                            height: 40px;
                            margin-top: 8px;
                            input {
                                background: rgba(0, 0, 0, 0);
                                width: 100%;
                                height: 100%;
                                padding: 10px;
                                font-size: 16px;
                                color: #dcddde;
                            }
                        }
                    }
                    .next-wrapper {
                        margin-top: 20px;
                        border-radius: 5px;
                        width: 100%;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        color: #dcddde;

                        transition: background-color 0.17s ease, color 0.17s ease;
                        background-color: #5865f2;

                        &:hover {
                            background-color: #4651c3;
                        }
                        &:active {
                            background-color: #3d45a4;
                        }
                    }
                    .what_is_this {
                        margin-top: 8px;
                    }
                }
            }
        }

        .questionnaire_errors {
            width: 480px;
            display: flex;
            flex-direction: column;

            .questionnaire_error {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(255, 0, 0, 0.15);
                min-height: 50px;
                border: 1px solid rgba(255, 0, 0, 0.6);
                border-radius: 10px;
                margin-bottom: 15px;
                color: #dbdbdb;
                padding: 10px;
            }
        }

        .questionnaire_successes {
            width: 480px;
            display: flex;
            flex-direction: column;

            .questionnaire_success {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(0, 255, 0, 0.15);
                min-height: 50px;
                border: 1px solid rgba(0, 255, 0, 0.6);
                border-radius: 10px;
                margin-bottom: 15px;
                color: #dbdbdb;
                padding: 10px;
            }
        }
    }
}

#discord_dashboard {
    display: flex;
    flex-direction: column;

    align-items: center;

    .guild_list {
        display: flex;
        flex-direction: column;
        width: 600px;
        padding: 5px;
        margin: 20px 0;
        border-radius: 5px;
        background-color: #212426;

        .guild_list_text {
            margin: 10px 0;
            font-size: 22px;
            font-weight: bold;
            text-align: center;
        }

        .guild {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 50px;
            border: 1px dotted rgba(216, 216, 216, 0.5);
            border-radius: 5px;
            margin: 10px 0;
            padding: 5px;

            .guild_desc {
                display: flex;
                flex-direction: row;
                height: 100%;
                align-items: center;
                text-align: center;

                .guild_icon {
                    border-radius: 500px;
                    margin-right: 10px;
                }
            }
            .setup_button {
                margin-right: 5px;

                padding: 5px 15px;
            }
        }
    }
}
