@import "library";

$leftside_nav_width: 350px;
$leftside_nav_height: 550px;

#discord-guild-setup {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;

  position: relative;
  justify-content: center;

  margin-top: 10px;

  .leftside_nav {
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 10px;

    border-radius: 10px;

    background-color: $dark_3;

    .nav_opened {
      display: flex;

      flex-direction: column;

      width: 200px;

      //transition: $trans_03;

      div {
        display: flex;
        flex-direction: row;

        padding: 5px 10px;
        height: 50px;
        width: 100%;
        border-radius: 10px;

        align-items: center;

        cursor: pointer;

        img {
          height: 30px;
          width: 30px;
          margin-right: 15px;
        }

        &.toggle_visible {
          margin-bottom: 10px !important;
        }

        @extend %hover_2;
      }
    }

    .nav_hidden {
      display: flex;

      flex-direction: column;

      width: 50px;

      //transition: $trans_03;

      div {
        padding: 5px 10px;
        width: 50px;
        height: 50px;
        border-radius: 10px;

        cursor: pointer;

        img {
          height: 100%;
          width: 100%;
        }

        &.toggle_visible {
          margin-bottom: 10px !important;
        }

        @extend %hover_2;
      }
    }
  }

  .setup_content {
    margin: 10px;
    margin-left: 70px;
    padding: 10px;

    height: 100%;
    width: 100%;

    display: flex;

    flex-direction: column;
    align-items: center;

    .guild_head {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        margin-right: 15px;

        height: 50px;
        width: 50px;

        border-radius: 999px;
      }

      h1 {
        font-size: 24px;
      }
    }

    .instance {
      display: flex;
      flex-direction: column;
      width: 90%;

      .about_instance {
        display: flex;
        flex-direction: column;

        width: 100%;

        margin: 10px;
        padding: 10px;

        background-color: $dark_2;

        border-radius: 5px;
        align-self: center;

        align-items: flex-start;
        h1 {
          color: $font_color_1;
          font-size: 26px;
          margin-bottom: 15px;
        }
        p {
          color: $font_color_2;
          font-size: 16px;
        }
      }

      .instance_config {
        display: flex;
        flex-direction: column;

        width: 100%;

        margin-top: 10px;

        .instance_elem{
          display: flex;
          &.row{flex-direction: row; align-items: center;}
          &.column{flex-direction: column; }

          background-color: $dark_2;
          padding: 10px;
          border-radius: 5px;

          .instance_elem_title{
            margin-right: 10px;
            margin-bottom: 10px;

            display: flex;
            flex-direction: column;

            align-self: center;

            align-items: center;

            .title{
              font-size: 26px;
            }

            .description{
              font-size: 16px;
            }
          }

          .instance_sub_elem {
            display: flex;

            margin-bottom: 5px;

            &.sbtw{justify-content: space-between;}

            &.row {
              flex-direction: row;
              align-items: center;
            }

            &.column {
              flex-direction: column;
            }

            background-color: $dark_2;
            padding: 10px;
            border-radius: 5px;

            .instance_sub_elem_title {
              margin-right: 10px;
              margin-bottom: 10px;

              display: flex;
              flex-direction: column;

              align-self: flex-start;

              //align-items: center;
            }

          }

          .ielem_state{

            display: flex;
            flex-direction: row;

            justify-content: space-between;

            margin:10px;

            .toggle_ielem_state {
              position: relative;
            
              width: 100px;
              height: 49px;
              margin: 0;
            
              vertical-align: top;
            
              background: $dark_1;
              border: 1px solid $dark_2;
              border-radius: 30px;
              outline: none;
              cursor: pointer;
            
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
            
              transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);

            &::after{
              content: "";
              
              position: absolute;
              left: 5px;
              top: 3px;
            
              width: 41px;
              height: 41px;
              background-color: #ff3535;
              border-radius: 50%;
            
              transform: translateX(0);
            
              transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
            }

            &:checked::after{
              transform: translateX(calc(100% + 3px));
              background-color: #fff;
            }

            &:checked{
              background-color: $green_button_normal;
            }
            
            }

            .title{
              font-weight: 400;
              font-size: 18px;
            }
          
          
          }

          .dropdown_elem {
            .dropdown_title {
              //max-width: 400px;
              min-height: 50px;
              padding: 10px;

              background-color: $dark_3;
              border: 2px solid black;
              border-radius: 5px;

              @extend %hover_2;
            }

            .dropdown_list {
              height: 200px;
              border-radius: 5px;

              background-color: $dark_3;
              border: 2px solid black;

              padding-top: 10px;
              padding-bottom: 10px;

              span {
                height: 30px;
                width: 100%;

                display: flex;

                padding: 10px 20px;

                font-size: 16px;
                color: $font_color_1;

                @extend %hover_1;
                border-radius: 5px;
              }
            }
          }

        
        } 
      }
    }

    
  }
  .unsaved_changes_alert{
      display: flex;
      flex-direction: row;

      width: 60%;

      position: absolute;
      bottom: 30px;
      align-self: center;
      justify-content: space-between;
      padding:10px;

      background-color: $dark_3;
      border-radius: 5px;
      border: 2px solid $dark_3;

      user-select: none;

      .title{

      }
      .buttons{
        display: flex;
        flex-direction: row;

        align-items: center;

        .reset_button{
          margin-right: 10px;
          cursor: pointer;

          border-bottom: 2px solid $dark_2;

          &:hover{
            border-bottom: 2px solid white;
          }
        }

        .green_button{
          width: 100px;
          height: 30px;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
    }
}