@import "library";

.guild_ftrs {
    margin-left: 280px;
    margin-right: 280px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 25px;
    -webkit-box-pack: center;
    justify-content: center;
}
.guild_ftr {
    background-color: rgb(62, 66, 70);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 10px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    min-width: 330px;
    min-height: 120px;
    user-select: none;
    max-width: 700px;
}

.guild_ftr_desc {
    padding: 20px 20px 0px 20px;
    width: 100%;
    margin-bottom: 60px;
}
.guild_ftr_miniset {
    position: absolute;
    bottom: 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px 30px;
    border-top: 1px dashed rgba(255, 255, 255, 0.62);
    justify-content: space-between;
}

.guild_ftr_desc {
    display: flex;
    flex-direction: row;
}

.guild_ftr_text {
    margin-left: 10px;
}
.title {
    color: white;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.description {
    font-family: "Open Sans";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.62);
    margin-top: 10px;
    line-height: 1.4;
}
.guild_ftr:hover {
    -webkit-animation: up 0.2s ease;
    animation: up 0.2s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes up {
    to {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@-webkit-keyframes up {
    to {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.guild_ftr_icon {
    height: 50px !important;
    width: 50px !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
