@import "library";

.header {
  display: flex;
  background-color: $dark_2;
  height: 75px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu_panel {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 100%;

  * {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bot_name {
    border-inline-end: 0.5px solid rgba(255, 255, 255, 0.65);
    padding-inline-end: 30px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    color: white;
    display: inline;
  }

  .menu_ops {
    display: flex;

    height: 100%;

    & > * {
      display: flex;
      align-items: center;
      text-align: center;
      height: 100%;
      border-bottom: 2px solid rgba(0, 0, 0, 0);

      cursor: pointer;

      * {
        color: #fff;
        font-weight: 500;
      }

      &:hover {
        border-bottom: 2px solid #ddd;
      }

      &.premium {
        position: relative;

        .premium_icon {
          width: 20px;
          height: 20px;
          padding: 0;
          position: absolute;
          top: 13px;
          right: -5px;
        }
      }
    }
  }
}

.login_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  .login_type {
    margin-right: 20px;

    &.discord {
      display: flex;
      flex-direction: row;
      background-color: $dark_3;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.3);

      padding: 5px;

      &,
      * {
        cursor: pointer;
      }

      .login_title {
        padding: 5px;
        color: $font_color_1;
      }
      img {
        margin-left: 5px;
        margin-right: 10px;
        width: 25px;
      }
    }
  }
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  > .dropdown_title {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 5px 10px;

    text-align: center;
    cursor: pointer;

    background-color: dodgerblue;
    border-radius: 10px;

    @include button(
      $lightblue_button_normal,
      $lightblue_button_hover,
      $lightblue_button_hover
    );
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

    .name {
      display: flex;
      align-content: center;
      margin-left: 10px;
      text-align: center;
      height: 100%;
      position: relative;
      padding-right: 10px !important;

      .type {
        height: 100%;
        padding-top: 3px;
      }
    }
    .avatar {
      border-radius: 50%;
      background-size: 40px;
      width: 40px;
      height: 40px;
      min-height: 40px;
      min-width: 40px;
    }
  }

  //display user options(cart)
  .cart {
    background: $dark_3;
    box-shadow: $box_shadow_1;
    border-radius: $border_radius_1;

    padding: 5px 10px;

    * {
      text-align: left;
    }

    > .cart_link,
    .dropdown_title {
      display: flex;
      padding: 5px 10px;
      border-radius: $border_radius_1;
      color: $font_color_2;
      cursor: pointer;

      @include hover($hover_3);

      &.logout_link {
        color: $red_color_1;
      }
    }
    .cart_languages {
      background: $dark_3;
      box-shadow: $box_shadow_1;
      border-radius: $border_radius_1;

      padding: 5px 10px;

      color: $font_color_2;
      & > li {
        display: flex;
        align-items: center;

        border-radius: $border_radius_1;

        padding: 5px 10px;

        display: flex;

        @include hover($hover_3);

        cursor: pointer;

        span {
          font-size: 20px;
          margin-right: 5px;
        }
      }
    }
  }
}

.tippy-box[data-theme~="right-10"] {
  right: 10px;
}

#user_ops {
  .mn_to_auth {
    display: flex;
    flex-direction: row;
    height: 80%;

    .login_link,
    .register_link {
      display: flex;
      align-items: center;

      margin-right: 30px;
      height: 100%;
      padding: 0 10px;

      text-align: center;
      cursor: pointer;

      border-radius: 5px;
      transition: $trans_03;

      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 18px;

      @include button(#1e90ff, #1980de, #1470bd);
    }
  }
}

#logout {
  color: rgb(167, 42, 57);
}

.user_ops * {
  padding: 0;
}
