.unsaved_changes_alert {
  display: flex;
  flex-direction: row;

  width: 60%;

  position: absolute;
  bottom: 30px;
  align-self: center;
  justify-content: space-between;
  padding: 10px;

  background-color: $dark_3;
  border-radius: 5px;
  border: 2px solid $dark_3;

  user-select: none;

  .title {
  }
  .buttons {
    display: flex;
    flex-direction: row;

    align-items: center;

    .reset_button {
      margin-right: 10px;
      cursor: pointer;

      border-bottom: 2px solid $dark_2;

      &:hover {
        border-bottom: 2px solid white;
      }
    }

    .green_button {
      width: 100px;
      height: 30px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
