@use "../library" as library;

#menu {
    display: flex;
    background-color: rgb(33, 36, 38);
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 60;
    top: 0px;

    .menu {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    * {
        text-align: center;
        align-items: center;
        user-select: none;
    }
}

#menu_panel {
    display: flex;
    flex-direction: row;
    align-items: center;

    * {
        padding-left: 10px;
        padding-right: 10px;
    }

    #menu_name {
        border-inline-end: 0.5px solid rgba(255, 255, 255, 0.65);
        padding-inline-end: 30px;
        padding-left: 20px;
        font-weight: bold;
        font-size: 25px;
        cursor: pointer;
        color: white;
        display: inline;
    }

    .menu_ops {
        display: flex;

        ._mn_ops_elem {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 75px;
            cursor: pointer;
            border-bottom: 2px solid rgb(33, 36, 38);

            &:hover {
                border-bottom: 2px solid white;
            }

            b {
                color: white;
                text-decoration: none;
                text-align: center;
                font-weight: normal;
            }
        }

        * {
            text-align: center;
        }
    }
}

#user_ops {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
    text-align: center;
    cursor: pointer;

    //display user
    .user {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        margin-right: 30px;
        height: 80%;
        padding: 0 10px;

        text-align: center;
        cursor: pointer;

        background-color: dodgerblue;
        border-radius: 0.5rem;
        transition: background-color 0.17s ease, color 0.17s ease;

        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;

        &:hover {
            background-color: #1e80ff;
        }

        ._usr_name {
            display: flex;
            align-content: center;
            margin-left: 10px;
            text-align: center;
            height: 100%;
            position: relative;
            padding-right: 10px !important;

            ._usr_type {
                height: 100%;
                padding-top: 3px;
            }
        }
        ._usr_avatar {
            border-radius: 50%;
            background-size: 40px;
            width: 40px;
            height: 40px;
            min-height: 40px;
            min-width: 40px;
        }
    }

    //display user options(cart)
    #cart {
        position: absolute;
        top: 75px;
        cursor: default;
        width: 200px;
        right: 30px;
        background-color: rgb(23, 24, 27);
        border-radius: 4px;
        box-shadow: rgb(0, 0, 0) 0px 1px 3px;
        z-index: 51;

        * {
            text-align: left;
        }

        //Languages div. Там и сама метка, и блок выбора языков. Этот div лежит в #cart, как обычный li
        div {
            display: block;
            position: relative;
            max-width: 200px;
        }

        li,
        div li,
        a {
            display: flex;
            margin: 5px;
            padding: 5px 12px;
            font-size: 14px;
            font-family: "Open Sans";
            font-weight: 400;
            color: rgb(166, 170, 181);
            -webkit-box-align: center;
            align-items: center;
            cursor: pointer;
        }

        li,
        a {
            @include library.hover(rgb(31, 33, 39));
        }

        .languages {
            background: rgb(23, 24, 27);
            min-width: 80px;
            box-shadow: rgb(0, 0, 0) 0px 1px 3px;
            border-radius: 4px;
            position: absolute;
            top: 0px;
            z-index: 2;
            right: 105%;

            li span {
                min-width: 20px;
            }
        }
    }

    .mn_to_auth {
        display: flex;
        flex-direction: row;
        height: 80%;

        .mn_login_link {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            margin-right: 30px;
            height: 100%;
            padding: 0 10px;

            text-align: center;
            cursor: pointer;

            background-color: dodgerblue;
            border-radius: 0.5rem;
            transition: background-color 0.17s ease, color 0.17s ease;

            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;

            &:hover {
                background-color: #1e80ff;
            }
        }

        .mn_register_link {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            margin-right: 30px;
            height: 100%;
            padding: 0 10px;

            text-align: center;
            cursor: pointer;

            background-color: dodgerblue;
            border-radius: 0.5rem;
            transition: background-color 0.17s ease, color 0.17s ease;

            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 18px;

            &:hover {
                background-color: #1e80ff;
            }
        }
    }
}

#logout {
    color: rgb(167, 42, 57);
}

.user_ops * {
    padding: 0;
}

.__mn__premium {
    position: relative;
    .___mn__premium_title {
        padding-right: 0;
    }
    .__mn__premium_img {
        padding: 0 !important;
        position: absolute;
        top: 13px;
        right: -5px;
    }
}

#menu-loader {
    width: 100px;
    height: 50px;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}
