/*.err {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}
.oops {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.err * {
    text-align: center;
}*/
